/* ===== PIVOT UI ===== */
.fm-ui, .fm-ui span, .fm-ui div, .fm-ui p, .fm-ui a
.fm-ui table, .fm-ui th, .fm-ui tr, .fm-ui td, 
.fm-ui ul, .fm-ui li
.fm-ui input, .fm-ui textarea, .fm-ui select {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 11px;
    text-align: left;
    color: black;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

a.fm-ui:hover {
    text-decoration: none;
}

input.fm-ui {
    font-size: 12px;
    outline: none;
}

span.fm-ui {
    font-size: 11px;
}

div.fm-ui-clear {
    clear: both;
}

input[type=text].fm-ui-text-input {
    border: 1px solid #999;
    -moz-box-shadow: inset 0px 1px 0 #e6e6e6;
    -webkit-box-shadow: inset 0px 1px 0 #e6e6e6;
    box-shadow: inset 0px 1px 0 #e6e6e6;
    height: 19px;
    padding: 0;
    margin: 0;
    text-indent: 4px;
    color: #202020;
    /*line-height: 19px;*/
    text-align: left;
    width: 150px;
    font-family: inherit;
}

    input[type=text].fm-ui-text-input.fm-ui-prompt {
        color: #B5B5B5;
        font-style: italic;
    }

textarea.fm-ui-text-area {
    resize: none;
    border: 1px solid #999;
    padding: 1px;
    -moz-box-shadow: inset 0px 1px 0 #e6e6e6;
    -webkit-box-shadow: inset 0px 1px 0 #e6e6e6;
    box-shadow: inset 0px 1px 0 #e6e6e6;
}

textarea.fm-ui-text-area:focus {
    outline: none;
}

a.fm-ui-btn {
    cursor: pointer;
    display: block;
    float: right;
    text-decoration: none;
    color: #333333;
    outline: none;
    background: #ffffff;
    border-left: 1px dotted #cccccc;
    font-size: 11px;
    text-align: center;
    width: 80px;
    height: 31px;
    line-height: 30px;
    padding: 0px;
    padding-top: 1px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    a.fm-ui-btn:hover {
        background: #F5F5F5;
    }

    a.fm-ui-btn.fm-ui-pressed {
        background: #CCCCCC;
    }

a.fm-ui-toggle-btn {
    background-image: -moz-linear-gradient(top, #fefefe, #f3f3f3);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));
    background-image: -webkit-linear-gradient(top, #fefefe, #f3f3f3);
    background-image: -o-linear-gradient(top, #fefefe, #f3f3f3);
    background-image: -ms-linear-gradient(top, #fefefe, #f3f3f3);
    background-image: linear-gradient(top, #fefefe, #f3f3f3);
    cursor: pointer;
    display: block;
    padding: 0px;
    margin: 0px;
    height: 19px;
    outline: none;
    line-height: 18px;
    font-size: 10px;
    border: 1px solid #999;
    color: #999;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    a.fm-ui-toggle-btn.fm-selected {
        background-image: -moz-linear-gradient(top, #999999, #b3b3b3);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(100%,#b3b3b3));
        background-image: -webkit-linear-gradient(top, #999999, #b3b3b3);
        background-image: -o-linear-gradient(top, #999999, #b3b3b3);
        background-image: -ms-linear-gradient(top, #999999, #b3b3b3);
        background-image: linear-gradient(top, #999999, #b3b3b3);
        color: #ffffff;
    }

    a.fm-ui-toggle-btn.fm-expand-toggle-btn {
        width: 9px;
        height: 9px;
        text-indent: -9999px;
        background: none;
        border: none;
        background-image: url(assets/img/icons/btn-collapsed.png);
        background-repeat: no-repeat;
        background-position: center center;
    }

        a.fm-ui-toggle-btn.fm-expand-toggle-btn.fm-selected {
            background-image: url(assets/img/icons/btn-expanded.png);
        }

a.fm-ui-link-btn {
    background: none;
    float: left;
    font-size: 10px;
    text-decoration: underline;
    line-height: normal;
    width: auto;
    height: auto;
    border: none;
    padding: 0;
}

a.fm-ui-link-btn:hover {
    background: none;
    text-decoration: none;
}

a.fm-ui-link-btn.fm-ui-pressed {
    background: none;
    text-decoration: underline;
}

a.fm-ui-checkbox {
    cursor: pointer;
    background-image: url(assets/img/icons/cbx-unselected.png);
    background-repeat: no-repeat;
    background-position: left center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 21px;
    line-height: 11px;
    display: block;
}

    a.fm-ui-checkbox.fm-selected {
        background-image: url(assets/img/icons/cbx-selected.png);
    }

    a.fm-ui-checkbox.fm-ui-semi-selected {
        background-image: url(assets/img/icons/cbx-semi-selected.png);
    }

    a.fm-ui-checkbox > span {
        margin-left: 18px;
        font-size: 11px;
        line-height: 21px;
    }

div.fm-ui-dropdown {
    cursor: pointer;
}

    div.fm-ui-dropdown > a.fm-ui-dropdown-btn {
        background: url(assets/img/icons/arrow-asphalt.png), #f3f3f3;
        background: url(assets/img/icons/arrow-asphalt.png), -moz-linear-gradient(top, #fefefe, #f3f3f3);
        background: url(assets/img/icons/arrow-asphalt.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));
        background: url(assets/img/icons/arrow-asphalt.png), -webkit-linear-gradient(top, #fefefe, #f3f3f3);
        background: url(assets/img/icons/arrow-asphalt.png), -o-linear-gradient(top, #fefefe, #f3f3f3);
        background: url(assets/img/icons/arrow-asphalt.png), -ms-linear-gradient(top, #fefefe, #f3f3f3);
        background: url(assets/img/icons/arrow-asphalt.png), linear-gradient(top, #fefefe, #f3f3f3);
        background-position: right center;
        background-repeat: no-repeat;
        cursor: pointer;
        display: block;
        /*padding: 0px 4px 0px 4px;*/
        text-indent: 4px;
        margin: 0px;
        height: 19px;
        outline: none;
        line-height: 18px;
        font-size: 12px;
        border: 1px solid #999;
        color: #333333;
        text-align: left;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    div.fm-ui-dropdown > a.fm-ui-dropdown-btn span {
        font-size: 12px;
    }

    div.fm-ui-dropdown.fm-ui-prompt > a.fm-ui-dropdown-btn span {
        color: #666666;
    }

    div.fm-ui-dropdown > ul.fm-ui-dropdown-list {
        margin-top: -1px;
        background-color: #ffffff;
        border: 1px solid #999;
        position: absolute;
        z-index: 2;
        max-height: 217px;
        overflow: auto;
    }

        div.fm-ui-dropdown > ul.fm-ui-dropdown-list > li {
            margin: 1px;
            padding: 0px 4px 4px 4px;
            background-position: 4px center;
            background-repeat: no-repeat;
            background-image: none;
        }

            div.fm-ui-dropdown > ul.fm-ui-dropdown-list > li > span.fm-ui {
                padding: 0px;
                font-size: 12px;
                margin-left: 15px;
            }

            div.fm-ui-dropdown > ul.fm-ui-dropdown-list > li:hover {
                background-color: #F5F5F5;
            }

            div.fm-ui-dropdown > ul.fm-ui-dropdown-list > li.fm-selected {
                background-color: #F5F5F5;
                background-image: url(assets/img/icons/check.png);
            }

div.fm-ui-popup {
    position: absolute;
    z-index: 7;
}

div.fm-ui-shadow-container {
    padding: 2px;
    background-color: rgba(153, 153, 153, 0.5);
}

div.fm-ui-border-container {
    padding: 4px;
    border: 1px solid #999;
    -moz-box-shadow: inset 0px 1px 0 #e6e6e6;
    -webkit-box-shadow: inset 0px 1px 0 #e6e6e6;
    box-shadow: inset 0px 1px 0 #e6e6e6;
}

div.fm-ui-panel {
    position: relative;
    background: #ffffff;
    border: 1px solid #999999;
}

div.fm-ui-modal-overlay {
    background-color: white;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width:100%;
    height:100%;
}

    div.fm-ui-modal-overlay.fm-ui-opaque {
        opacity: 1;
    }

    div.fm-ui-modal-overlay.fm-ui-transparent {
        opacity: 0;
    }

div.fm-ui-toolbar {
    background: #ffffff;
    border-top: 1px dotted #dcdcdc;
    border-left: none;
    border-right: none;
    border-bottom: none;
    margin-bottom: 0px;
}

div.fm-ui-hgroup {
    /* for height */
    overflow: hidden;
}

    div.fm-ui-hgroup > * {
        float: left;
    }

div.fm-ui-vgroup > * {
    display: block;
}

ul.fm-ui-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.fm-ui-disabled {
    cursor: default;
    opacity: 0.5;
}

    .fm-ui-disabled:hover {
        background-color: #fff;
    }

/* ScrollBar */

div.fm-ui-scrollbar {
    position: absolute;
    margin: 0;
}

    div.fm-ui-scrollbar.fm-ui-scrollbar-vertical {
        float: right;
        right: 2px;
        width: 13px;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-horizontal {
        left: 0;
        bottom: 2px;
        height: 13px;
    }

    div.fm-ui-scrollbar div.fm-ui-scrollbar-track {
        background-color: #F7F7F7;
        width: 100%;
        height: 100%;
    }

    div.fm-ui-scrollbar.fm-ui-mobile div.fm-ui-scrollbar-track {
        background: none;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-vertical div.fm-ui-scrollbar-track {
        border-right: 1px solid #999999;
        border-left: 1px solid #999999;
        width: 100%;
        height: 100%;
        margin-top: 14px;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-vertical.fm-ui-mobile div.fm-ui-scrollbar-track {
        border: none;
        margin-top: 0;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-horizontal div.fm-ui-scrollbar-track {
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999;
        height: 13px;
        margin-left: 14px;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-horizontal.fm-ui-mobile div.fm-ui-scrollbar-track {
        border: none;
        margin-left: 0;
    }

    div.fm-ui-scrollbar a.fm-ui-scrollbar-thumb {
        display: block;
        left: 0;
        margin: 0;
        outline: none;
        width: 13px;
        height: 13px;
        min-height: 13px;
        min-width: 13px;
        cursor: pointer;
        border: 1px solid #999999;
        background-color: #EBEBEB;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 2;
        box-sizing: content-box;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
    }

    div.fm-ui-scrollbar.fm-ui-mobile a.fm-ui-scrollbar-thumb {
        margin: 4px;
        width: 7px;
        height: 7px;
        min-width: 7px;
        min-height: 7px;
        border-radius: 6px;
        border: none;
        background: #000;
        opacity: 0.5;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-horizontal a.fm-ui-scrollbar-thumb {
        background-image: url(assets/img/icons/scrollbar-thumb-h.png);
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-vertical a.fm-ui-scrollbar-thumb {
        background-image: url(assets/img/icons/scrollbar-thumb-v.png);
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-horizontal a.fm-ui-scrollbar-thumb {
        top: -15px;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-horizontal.fm-ui-mobile a.fm-ui-scrollbar-thumb {
        top: -12px;
        background-image: none;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-vertical.fm-ui-mobile a.fm-ui-scrollbar-thumb {
        margin-left: 6px;
        background-image: none;
    }

    div.fm-ui-scrollbar a.fm-ui-scrollbar-btn-down,
    div.fm-ui-scrollbar a.fm-ui-scrollbar-btn-up {
        width: 13px;
        height: 13px;
        border: 1px solid #999999;
        background-color: #EBEBEB;
        display: block;
        position: absolute;
        text-indent: -9999px;
        padding: 0;
    }

    div.fm-ui-scrollbar a.fm-ui-scrollbar-btn-up {
        background-repeat: no-repeat;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-vertical a.fm-ui-scrollbar-btn-up {
        top: 0;
        left: 0;
        background-position: center 4px;
        background-image: url(assets/img/icons/scrollbar-arrow-up.png);
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-horizontal a.fm-ui-scrollbar-btn-up {
        top: 0;
        left: 0;
        background-position: 4px center;
        background-image: url(assets/img/icons/scrollbar-arrow-left.png);
    }

    div.fm-ui-scrollbar a.fm-ui-scrollbar-btn-down {
        background-position: center center;
        background-repeat: no-repeat;
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-vertical a.fm-ui-scrollbar-btn-down {
        left: 0;
        bottom: -1px;
        background-image: url(assets/img/icons/scrollbar-arrow-down.png);
    }

    div.fm-ui-scrollbar.fm-ui-scrollbar-horizontal a.fm-ui-scrollbar-btn-down {
        top: 0;
        right: -1px;
        background-image: url(assets/img/icons/scrollbar-arrow-right.png);
    }

/* ScrollBar end */

div.fm-ui-virtual-scroll-pane {
    position: absolute;
    pointer-events: none;
}

    div.fm-ui-virtual-scroll-pane > .fm-ui-scrollbar {
        pointer-events: all;
    }

    div.fm-ui-virtual-scroll-pane > #fm-ui-bg {
        background-color: #F5F5F5;
        width: 15px;
        height: 15px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

/* ===== PIVOT UI END ===== */

/* Filter */

#fm-filter-view #fm-filter-content-table {
    min-height: 220px;
    min-width: 260px;
    max-height: 600px;
    max-width: 400px;
    width: 260px;
    border-spacing: 0;
    border-collapse: collapse;
}

    #fm-filter-view #fm-filter-content-table > tr > td {
        padding: 0;
    }

/* sort row */

#fm-filter-view #fm-sort-row {
    height: 20px;
    padding-top: 4px;
}

    #fm-filter-view #fm-sort-row > td {
        padding: 4px;
        padding-right:6px;
    }

        #fm-filter-view #fm-sort-row > td:nth-child(2) {
            padding-right: 0;
            /*padding-left: 2px;*/
        }

        #fm-filter-view #fm-sort-row > td:nth-child(3) {
            padding-left: 0;
        }

        #fm-filter-view #fm-sort-row > td:last-child {
            padding-right: 6px;
        }

#fm-filter-view #fm-hierarchies-dropdown > a.fm-ui-dropdown-btn {
    width: 100%;
}

#fm-filter-view .fm-ui-toggle-btn.fm-sort-btn {
    width: 100%;
}

.fm-ui-toggle-btn#fm-top10-btn {
    width: 100%;
    min-width: 50px;
    position: relative;
}

    .fm-ui-toggle-btn#fm-top10-btn.fm-cross {
        min-width: 50px;
        text-align: left;
        text-indent: 5px;
    }

.fm-ui-toggle-btn.fm-cross .fm-ui-btn#fm-clear-top-btn {
    text-indent: -9999px;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 4px;
    top: 4px;
    border: none;
}

.fm-ui-toggle-btn.fm-cross .fm-ui-btn#fm-clear-top-btn {
    background-image: url('assets/img/icons/btn-cross-gray.png');
}

.fm-ui-toggle-btn.fm-cross.fm-selected .fm-ui-btn#fm-clear-top-btn {
    background-image: url('assets/img/icons/btn-cross-white.png');
}

/* topbottom row */

#fm-topbottom-row {
    height: 0;
    vertical-align: top;
}

    #fm-topbottom-row > td {
        padding: 0;
    }

#fm-top-bottom-view {
    background: #dcdcdc;
    border-top: 1px solid #999999;
    position: relative;
}

    #fm-top-bottom-view table {
        border-spacing: 0;
        border-collapse: collapse;
    }

    #fm-top-bottom-view td {
        padding: 4px;
    }

        #fm-top-bottom-view td:nth-child(1) {
            padding-left: 8px;
            padding-right: 0;
        }

        #fm-top-bottom-view td:nth-child(4) {
            padding-left: 2px;
            padding-right: 6px;
        }

    #fm-top-bottom-view:after {
        margin-left: 1px;
        margin-right: 1px;
        content: '';
        border-width: 5px;
        border-color: transparent transparent #dcdcdc;
        border-style: outset outset solid;
        border-style: solid;
        top: -10px;
        right: 8%;
        width: 0;
        height: 0;
        position: absolute;
    }

    #fm-top-bottom-view:before {
        content: '';
        border-color: transparent transparent #999999;
        border-style: outset outset solid;
        border-width: 6px;
        position: absolute;
        top: -12px;
        right: 8%;
    }

    #fm-top-bottom-view .fm-ui-toggle-btn.fm-ui-toggle-link-btn {
        font-size: 10px;
        border: none;
        background: transparent;
    }

        #fm-top-bottom-view .fm-ui-toggle-btn.fm-ui-toggle-link-btn:hover {
            text-decoration: underline;
        }

        #fm-top-bottom-view .fm-ui-toggle-btn.fm-ui-toggle-link-btn.fm-selected {
            color: #555555;
        }

            #fm-top-bottom-view .fm-ui-toggle-btn.fm-ui-toggle-link-btn.fm-selected:hover {
                text-decoration: none;
            }

        #fm-top-bottom-view .fm-ui-toggle-btn.fm-ui-toggle-link-btn#fm-btn-top {
            border-right: 1px dotted #999999;
            text-align: right;
            padding-right: 5px;
        }

        #fm-top-bottom-view .fm-ui-toggle-btn.fm-ui-toggle-link-btn#fm-btn-bottom {
            text-align: left;
        }

    #fm-top-bottom-view .fm-ui-dropdown#fm-top-measures-dropdown {
        margin-top: 1px;
        width: 100%;
    }

    #fm-top-bottom-view .fm-ui-text-input#fm-top-amount-input {
        width: 100%;
    }

/* search row */

#fm-filter-view #fm-search-row {
    border-top: 1px solid #ccc;
    height: 20px;
}

#fm-filter-view #fm-search-row > td {
    padding: 4px;
    padding-right: 6px;
    padding-bottom: 0;
}

/* select all row */

#fm-filter-view #fm-select-all-row {
    height: 20px;
}

#fm-filter-view #fm-select-all-row > td {
    padding: 4px;
    padding-right: 6px;
    padding-bottom: 0;
}

/* members row */

#fm-filter-view #fm-members-row {
    vertical-align: text-top;
}

    #fm-filter-view #fm-members-row > td {
        vertical-align: text-top;
        position: relative;
        padding: 4px;
        padding-top: 0;
    }

#fm-filter-view #fm-search-input {
    width: 100%;
}

#fm-filter-view #fm-selected-amount-label {
    color: #A9A9A9;
    font-size: 10px;
    line-height: 10px;
    display: block;
    margin-left: 4px;
    margin-bottom: 4px;
}

/* toolbar row */
#fm-filter-view #fm-filter-content-table #fm-toolbar-row {
    height: 20px;
}

    #fm-filter-view #fm-filter-content-table #fm-toolbar-row > td {
        padding: 0px;
    }

.fm-ui-checkbox#fm-select-all-cbx {
    background-position: 4px center;
}

    .fm-ui-checkbox#fm-select-all-cbx > span {
        font-weight: bold;
        margin-left: 22px;
    }

.fm-ui-list#fm-members-filter-list {
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
    width: 100%;
}

    .fm-ui-list#fm-members-filter-list > li {
        background: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        height: 21px;
        line-height: 11px;
        white-space: nowrap;
    }

        .fm-ui-list#fm-members-filter-list > li > .fm-ui-checkbox {
            margin-left: 4px;
            width: 100%;
        }

            .fm-ui-list#fm-members-filter-list > li > .fm-ui-checkbox > span {
                display: block;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

        .fm-ui-list#fm-members-filter-list > li:hover {
            background-color: #F5F5F5;
        }

        .fm-ui-list#fm-members-filter-list.fm-ui-mobile > li:hover {
            background-color: transparent;
        }

        .fm-ui-list#fm-members-filter-list > li > * {
            float: left;
        }

        .fm-ui-list#fm-members-filter-list > li > .fm-expand-toggle-btn {
            height: 21px;
            margin-left: -13px;
        }

/* Pivot view */

#fm-pivot-view {
    min-width: 400px;
    min-height: 300px;
    position: relative;
    background: #ffffff;
    border: 1px solid #ccc;
    outline: none;
}

    #fm-pivot-view #fm-branding-bar {
        background-color: #fff;
        border-top: 1px solid #999;
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 0px;
        z-index: 2;
    }

        #fm-pivot-view #fm-branding-bar > span {
            line-height: 20px;
        }

        #fm-pivot-view #fm-branding-bar #fm-version-label {
            float: left;
            margin-left: 5px;
        }

        #fm-pivot-view #fm-branding-bar #fm-link {
            float: right;
            margin-right: 5px;
            vertical-align: top;
        }

            #fm-pivot-view #fm-branding-bar #fm-link a {
                vertical-align: top;
            }

        #fm-pivot-view #fm-branding-bar #fm-info-icon {
            display: inline-block;
            width: 16px;
            height: 16px;
            margin-left: 5px;
            margin-top: 2px;
            background: url(assets/img/icons/info.png) center center no-repeat;
            cursor: pointer;
        }

#fm-grid-view {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    #fm-grid-view #fm-grid-layout {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #fm-grid-view #fm-grid-layout:focus,
    #fm-drillthrough-view #fm-grid-layout:focus {
        outline: none;
    }

    #fm-grid-view .fm-sheet-data-canvas,
    #fm-drillthrough-view .fm-sheet-data-canvas {
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-spacing: 0;
        border-collapse: collapse;
        table-layout: fixed;
        white-space: nowrap;
        word-wrap: break-word;
    }

    #fm-grid-view .fm-sheet-header,
    #fm-drillthrough-view .fm-sheet-header {
        padding-top: 1px;
        padding-bottom: 1px;
        vertical-align: middle;
        background-color: #cccccc;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: -moz-none;
        -ms-user-select: none;
        user-select: none;
    }

    #fm-grid-view .fm-sheet-header div,
    #fm-drillthrough-view .fm-sheet-header div {
        text-align: center;
        color: #ffffff;
    }

    #fm-grid-view .fm-sheet-header:first-child > div {
        /*max-width: 90%;
        max-height: 90%;*/
    }

    #fm-grid-view .fm-sheet-top-header,
    #fm-drillthrough-view .fm-sheet-top-header {
        height: 16px;
        min-width: 20px;
        border-right: 1px white solid;
        border-bottom: 1px white solid;
    }

        #fm-grid-view .fm-sheet-top-header > div,
        #fm-drillthrough-view .fm-sheet-top-header > div {
            min-width: 100%;
            max-width: 100%;
        }

    #fm-grid-view .fm-sheet-left-header,
    #fm-drillthrough-view .fm-sheet-left-header {
        min-width: 20px;
        border-right: 1px white solid;
        border-bottom: 1px white solid;
        padding-right: 2px;
    }

        #fm-grid-view .fm-sheet-left-header > div,
        #fm-drillthrough-view .fm-sheet-left-header > div {
            min-height: 14px;
            padding: 3px;
        }

        #fm-grid-view tr:first-child > .fm-sheet-left-header > div,
        #fm-drillthrough-view tr:first-child > .fm-sheet-left-header > div {
            padding: 0;
        }

    #fm-grid-view .fm-cell,
    #fm-drillthrough-view .fm-cell {
        padding: 4px;
        vertical-align: middle;
        font-size: 11px;
        border: 1px solid #cccccc;
        min-width: 20px;
        width: auto;
        text-align: right;
    }

    #fm-grid-view .fm-header,
    #fm-drillthrough-view .fm-header {
        background-color: #555555;
        color: #ffffff;
        text-align: left;
    }

    #fm-grid-view .fm-header span,
    #fm-grid-view .fm-header div,
    #fm-drillthrough-view .fm-header span,
    #fm-drillthrough-view .fm-header div {
        color: #ffffff;
        text-align: left;
    }

    #fm-grid-view .fm-column-header {
    }

    #fm-grid-view .fm-row-header {
    }

    #fm-grid-view .fm-filter-header,
    #fm-drillthrough-view .fm-filter-header {
        cursor: pointer;
    }

        #fm-grid-view .fm-filter-header .fm-filter-icon,
        #fm-drillthrough-view .fm-filter-header .fm-filter-icon {
            background-image: url('assets/img/icons/filter.png');
            background-position: left center;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 3px;
            width: 10px;
            height: 10px;
        }

    #fm-grid-view .fm-filtered .fm-filtered-icon,
    #fm-drillthrough-view .fm-filtered .fm-filtered-icon {
        background-image: url('assets/img/icons/filtered.png');
        background-position: left center;
        background-repeat: no-repeat;
        display: inline-block;
        margin-left: 3px;
        width: 10px;
        height: 10px;
    }

    #fm-grid-view .fm-expanded,
    #fm-drillthrough-view .fm-expanded {
        cursor: pointer;
    }

        #fm-grid-view .fm-expanded .fm-expanded-icon,
        #fm-drillthrough-view .fm-expanded .fm-expanded-icon {
            background-image: url('assets/img/icons/minus.png');
            background-position: left center;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 3px;
            width: 10px;
            height: 10px;
        }

    #fm-grid-view .fm-collapsed,
    #fm-drillthrough-view .fm-collapsed {
        cursor: pointer;
    }

        #fm-grid-view .fm-collapsed .fm-collapsed-icon,
        #fm-drillthrough-view .fm-collapsed .fm-collapsed-icon {
            background-image: url('assets/img/icons/plus.png');
            background-position: left center;
            background-repeat: no-repeat;
            display: inline-block;
            margin-right: 3px;
            width: 10px;
            height: 10px;
            cursor: pointer;
        }

    #fm-grid-view .fm-total,
    #fm-drillthrough-view .fm-total {
        font-weight: bold;
        font-size: 10px;
    }

    #fm-grid-view .fm-grand-total,
    #fm-drillthrough-view .fm-grand-total {
        background-color: #783131;
    }

    #fm-grid-view span.fm-hierarchy-link,
    #fm-drillthrough-view span.fm-hierarchy-link {
        white-space: nowrap;
        color: #FDFFD4;
        font-size: 10px;
        text-decoration: underline;
        cursor: pointer;
        margin-left: 4px;
    }

    #fm-grid-view .fm-link,
    #fm-drillthrough-view .fm-link {
        color: #FFFFFF;
        text-decoration: underline;
        cursor: pointer;
    }

    #fm-grid-view .fm-v-sort {
    }

        #fm-grid-view .fm-v-sort div:not(.ui-resizable):only-child,
        #fm-drillthrough-view .fm-v-sort div:not(.ui-resizable):only-child {
            width: 100%;
            position: relative;
        }

        #fm-grid-view .fm-v-sort > div:not(.ui-resizable) > div:first-child,
        #fm-drillthrough-view .fm-v-sort > div:not(.ui-resizable) > div:first-child {
            margin-right: 12px;
        }

        #fm-grid-view .fm-v-sort div.ui-resizable:only-child,
        #fm-drillthrough-view .fm-v-sort div.ui-resizable:only-child {
            margin-right: 0;
        }

        #fm-grid-view .fm-v-sort div.ui-resizable:only-child span,
        #fm-drillthrough-view .fm-v-sort div.ui-resizable:only-child span {
            margin-right: 15px;
        }

    #fm-grid-view .fm-sort-icon,
    #fm-drillthrough-view .fm-sort-icon {
        background-position: right center;
        background-repeat: no-repeat;
        width: 10px;
        height: 100%;
        cursor: pointer;
        position: absolute;
        right: 0px;
        top: 0px;
    }

    #fm-grid-view .fm-v-sort:hover .fm-v-sort-icon,
    #fm-drillthrough-view .fm-v-sort:hover .fm-v-sort-icon {
        background-image: url('assets/img/icons/v-sort.png');
    }

    #fm-grid-view .fm-v-sort .fm-v-sort-asc,
    #fm-drillthrough-view .fm-v-sort .fm-v-sort-asc {
        background-image: url('assets/img/icons/v-sort-asc.png');
    }

    #fm-grid-view .fm-v-sort .fm-v-sort-desc,
    #fm-drillthrough-view .fm-v-sort .fm-v-sort-desc {
        background-image: url('assets/img/icons/v-sort-desc.png');
    }

    #fm-grid-view .fm-h-sort > div > span,
    #fm-grid-view .fm-v-sort > div > span,
    #fm-grid-view .fm-h-sort > div > div > span,
    #fm-grid-view .fm-v-sort > div > div > span  {
        /*margin-right: 12px;*/
    }

        /*#fm-grid-view .fm-h-sort span:last-child,
        #fm-drillthrough-view .fm-h-sort span:last-child {
            margin-right: 12px;
        }*/

        #fm-grid-view .fm-h-sort div:only-child,
        #fm-drillthrough-view .fm-h-sort div:only-child {
            width: 100%;
            position: relative;
        }

		#fm-grid-view .fm-h-sort > div > div:first-child,
        #fm-drillthrough-view .fm-h-sort  > div > div:first-child {
            margin-right: 12px;
        }

        #fm-grid-view .fm-h-sort:hover .fm-h-sort-icon,
        #fm-drillthrough-view .fm-h-sort:hover .fm-h-sort-icon {
            background-image: url('assets/img/icons/h-sort.png');
        }

        #fm-grid-view .fm-h-sort .fm-h-sort-asc,
        #fm-drillthrough-view .fm-h-sort .fm-h-sort-asc {
            background-image: url('assets/img/icons/h-sort-asc.png');
        }

        #fm-grid-view .fm-h-sort .fm-h-sort-desc,
        #fm-drillthrough-view .fm-h-sort .fm-h-sort-desc {
            background-image: url('assets/img/icons/h-sort-desc.png');
        }

    #fm-grid-view .fm-level0 {
    }

    #fm-grid-view .fm-level1,
    #fm-drillthrough-view .fm-level1 {
        text-indent: 12px;
        background-position: 12px center;
    }

    #fm-grid-view .fm-level2,
    #fm-drillthrough-view .fm-level2 {
        text-indent: 24px;
        background-position: 24px center;
    }

    #fm-grid-view .fm-level3,
    #fm-drillthrough-view .fm-level3 {
        text-indent: 36px;
        background-position: 36px center;
    }

    #fm-grid-view .fm-level4,
    #fm-drillthrough-view .fm-level4 {
        text-indent: 48px;
        background-position: 48px center;
    }

    #fm-grid-view .fm-level5,
    #fm-drillthrough-view .fm-level5 {
        text-indent: 60px;
        background-position: 60px center;
    }

    #fm-grid-view .fm-level6,
    #fm-drillthrough-view .fm-level6 {
        text-indent: 72px;
        background-position: 72px center;
    }

    #fm-grid-view .fm-level7,
    #fm-drillthrough-view .fm-level7 {
        text-indent: 84px;
        background-position: 84px center;
    }

    #fm-grid-view .fm-level8,
    #fm-drillthrough-view .fm-level8 {
        text-indent: 96px;
        background-position: 96px center;
    }

    #fm-grid-view .fm-level9,
    #fm-drillthrough-view .fm-level9 {
        text-indent: 108px;
        background-position: 108px center;
    }

    #fm-grid-view .fm-level10,
    #fm-drillthrough-view .fm-level10 {
        text-indent: 120px;
        background-position: 120px center;
    }

    #fm-grid-view .fm-sheet-selection-canvas,
    #fm-drillthrough-view .fm-sheet-selection-canvas {
        position: absolute;
        background-color: rgba(255, 245, 106, 0.2);
        pointer-events: none;
    }

        #fm-grid-view .fm-sheet-selection-canvas > .fm-border,
        #fm-drillthrough-view .fm-sheet-selection-canvas > .fm-border {
            border: 1px solid #969DAB;
        }
    
    #fm-grid-view .fm-drop-indicator {
        position: absolute;
        background-color: #999999;
        border: 1px solid white;
        box-shadow: 1px 1px 2px black;
    }

.fm-draggable.fm-helper {
    min-width: 100px;
}

/* Charts */
.fm-ui .fm-pivot-title {
    font-family: Tahoma;
    font-size: 14px !important;
    font-weight: bold;
    display: block;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.fm-ui .fm-charts-view {
    background-color: #ffffff;
    padding: 5px;
}

.fm-ui .fm-charts-view .fm-chart {
    padding: 5px;
}

.fm-ui .fm-charts-view div.fm-ui-dropdown {
    min-width: 60px;
    width: 200px;
}

    .fm-ui .fm-charts-view div.fm-ui-dropdown a.fm-ui-dropdown-btn {
        width: 200px;
    }

.fm-axis text {
    font-size: 11px;
    text-rendering: geometricPrecision;
}

.fm-axis path,
.fm-axis line {
    fill: none;
    stroke: #cccccc;
    shape-rendering: crispEdges;
}

.fm-x.fm-axis path {
    /*display: none;*/
}

.fm-x.fm-axis.fm-title {
    font-size: 11px;
    font-weight: bold;
}

.fm-line {
    fill: none;
    stroke-width: 1px;
}

.fm-circle {
    fill: #fff;
    stroke-width: 1px;
}

.fm-scatter-point {
    fill: #fff;
    stroke-width: 1px;
}

.fm-arc path {
    stroke: #fff;
}

.fm-pie-label {
    font-size: 12px;
}

.fm-charts-color-1 {
    fill: #E41A1C;
}

.fm-charts-color-2 {
    fill: #377EB8;
}

.fm-charts-color-3 {
    fill: #4DAF4A;
}

.fm-charts-color-4 {
    fill: #e042a6;
}

.fm-charts-color-5 {
    fill: #FF7F00;
}

.fm-charts-color-6 {
    fill: #59BBAB;
}

.fm-charts-color-7 {
    fill: #b96bdd;
}

.fm-charts-color-8 {
    fill: #EDC200;
}

.fm-charts-color-9 {
    fill: #24c0de;
}

.fm-charts-color-10 {
    fill: none;
}

/*Chart legend*/
.fm-ui-btn.fm-chart-legend-btn {
    float: left;
    width: auto;
    padding-left: 4px;
    padding-right: 4px;
    min-width: 92px;
    height: 21px;
    line-height: 20px;
}

    .fm-ui-btn.fm-chart-legend-btn.fm-show {
        border: 1px solid #cccccc;
    }
    .fm-ui-btn.fm-chart-legend-btn.fm-hide {
        border-left: 1px solid #cccccc;
        border-top: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
    }

.fm-chart-legend-container {
    border-top: 1px solid #cccccc;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    max-height: 200px;
}

.fm-chart-legend-container table {
    border-collapse: separate;
    border-spacing: 2px;
}

.fm-chart-legend ul {
    list-style-type: none;
    /*height: 21px;*/
    position: relative;
    vertical-align: bottom;
    font-size: 11px;
    display: inline-table;
}

.fm-chart-legend .fm-ui-list li {
    display: table;
    background: none;
    padding: 0;
    margin: 0;
}

.fm-chart-legend ul li.fm-collapsed {
    cursor: pointer;
}

.fm-chart-legend ul li.fm-expanded {
    cursor: pointer;
}

    .fm-chart-legend ul li #fm-icon-display {
        display: inline-block;
        vertical-align: baseline;
        width: 10px;
        height: 10px;
        margin-right: 4px;
    }

    .fm-chart-legend ul li #fm-text-display {
        display: table-cell;
        white-space: nowrap;
    }

.fm-chart-legend td {
    padding: 4px;
    padding-right: 0px;
    vertical-align: top;
}

/* Fields */

#fm-fields-view {
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 0;
}

    #fm-fields-view #fm-open-btn {
        border: none;
        width: 31px;
        height: 31px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("assets/img/icons/arrow.png");
    }

    #fm-fields-view #fm-close-btn {
        border: none;
        width: 34px;
        height: 31px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("assets/img/icons/arrow-ne.png");
        position: absolute;
        bottom: 0;
        left: 0;
        border-right: 1px dotted #ccc;
    }

    #fm-fields-view #fm-btn-collapse-expand-all {
        position: absolute;
        top: 4px;
        right: 4px;
    }


    #fm-fields-view #fm-open-state-panel {
        min-width: 350px;
        max-width: 600px;
        width: 350px;
    }

    #fm-fields-view table {
        width: 100%;
        border-spacing: 4px;
        border-collapse: separate;
        max-height: 400px;
    }

        #fm-fields-view table td {
            width: 50%;
            border: 1px solid #cccccc;
            padding: 4px;
            vertical-align: top;
        }

    #fm-fields-view td#fm-cell-hierarchies {
        position: relative;
    }

    #fm-fields-view a#fm-add-measure-btn {
        position: absolute;
        bottom: 4px;
    }

    #fm-calculated-view ul,
    #fm-fields-view ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
        #fm-calculated-view ul li,
        #fm-fields-view ul li {
            height: 21px;
            cursor: move;
            position: relative;
            vertical-align: bottom; /* hack to remove inline-block extra padding in ff */
        }
            #fm-calculated-view ul li:hover,
            #fm-fields-view ul li:hover {
                background-color: #F5F5F5;
            }

            /*#fm-calculated-view.fm-ui-mobile ul li,
            #fm-fields-view.fm-ui-mobile ul li {
                height: 25px;
            }*/

            #fm-calculated-view.fm-ui-mobile ul li:hover,
            #fm-fields-view ul.fm-ui-mobile li:hover {
                background-color: transparent;
            }

    #fm-fields-view #fm-lst-hierarchies,
    #fm-fields-view #fm-lst-pages,
    #fm-fields-view #fm-lst-columns,
    #fm-fields-view #fm-lst-rows,
    #fm-fields-view #fm-lst-measures {
        min-height: 21px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    #fm-fields-view .fm-flat-fields-list {
        width: 280px;
        height: 220px;
        margin: 4px;
        padding: 4px;
        border: 1px solid #ccc;
    }

#fm-calculated-view .fm-muted,
#fm-fields-view .fm-muted {
    color: #dcdcdc;
}

#fm-calculated-view li,
#fm-fields-view li {
    padding: 0;
    margin: 0;
    background: none;
    background-image: none;
}

#fm-calculated-view li.fm-placeholder,
#fm-fields-view li.fm-placeholder {
    border-top: 2px dashed #999;
    height: 0;
    padding: 0;
}

#fm-fields-view li.fm-values {
    background-position: 4px center;
    background-repeat: no-repeat;
    background-image: url('assets/img/icons/value.png');
}

    #fm-fields-view li.fm-values #fm-text-display {
        left: 15px;
    }

#fm-fields-view span.fm-values {
    background-position: 4px center;
    background-repeat: no-repeat;
    background-image: url('assets/img/icons/value-white.png');
    text-indent: 12px;
}

#fm-fields-view li.fm-selected {
    font-weight: bold;
}

#fm-fields-view #fm-icon-display {
    position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    display: inline-block;
    width: 13px;
    height: 13px;
    left: 4px;
    top: 4px;
}

#fm-fields-view li.fm-level-1 #fm-icon-display {
    left: 12px;
}

#fm-fields-view li.fm-level-2 #fm-icon-display {
    left: 24px;
}

#fm-fields-view li.fm-level-3 #fm-icon-display {
    left: 36px;
}

#fm-fields-view li.fm-level-4 #fm-icon-display {
    left: 48px;
}

#fm-fields-view li.fm-level-5 #fm-icon-display {
    left: 60px;
}

#fm-calculated-view #fm-text-display,
#fm-fields-view #fm-text-display {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 190px;
    left: 4px;
    top: 3px;
    right: 2px;
}

#fm-fields-view li.fm-collapsed #fm-text-display,
#fm-fields-view li.fm-expanded #fm-text-display,
#fm-fields-view li.fm-checked #fm-text-display,
#fm-fields-view li.fm-unchecked #fm-text-display {
    left: 20px;
}

#fm-calculated-view li.fm-measure #fm-text-display,
#fm-fields-view li.fm-measure #fm-text-display {
    right: 20px;
}

#fm-fields-view.fm-ui-mobile li.fm-measure #fm-text-display {
    right: 40px;
}

#fm-fields-view li.fm-level-1 #fm-text-display {
    left: 28px;
}

#fm-fields-view li.fm-level-2 #fm-text-display {
    left: 40px;
}

#fm-fields-view li.fm-level-3 #fm-text-display {
    left: 52px;
}

#fm-fields-view li.fm-level-4 #fm-text-display {
    left: 64px;
}

#fm-fields-view li.fm-level-5 #fm-text-display {
    left: 76px;
}

#fm-fields-view.fm-ui-mobile li #fm-text-display {
    right: 20px;
}

/* folder */
#fm-fields-view li.fm-folder {
    cursor: pointer;
}

#fm-fields-view li.fm-measures-folder {
    background-image: url("assets/img/icons/value-gray.png");
    background-position: right center;
    margin-right: 9px;
    background-repeat: no-repeat;
}

#fm-fields-view.fm-ui-mobile li.fm-measures-folder {
    margin-right: 4px;
}

#fm-fields-view.fm-ui-mobile li.fm-folder #fm-text-display {
    right: 2px;
}

#fm-fields-view li.fm-collapsed #fm-icon-display {
    background-image: url("assets/img/icons/btn-collapsed.png");
}

#fm-fields-view li.fm-expanded #fm-icon-display {
    background-image: url("assets/img/icons/btn-expanded.png");
}

#fm-fields-view li.fm-folder:hover {
    background-color: #fff;
}

/* check box */
#fm-fields-view li.fm-checked #fm-icon-display {
    background-image: url('assets/img/icons/cbx-selected.png');
}

#fm-fields-view li.fm-unchecked #fm-icon-display {
    background-image: url('assets/img/icons/cbx-unselected.png');
}

#fm-calculated-view #fm-aggr-display,
#fm-fields-view #fm-aggr-display,
#fm-fields-view #fm-calc-display {
    right: 0;
    position: absolute;
    cursor: pointer;
    width: 13px;
    height: 13px;
    padding: 4px;
    background-color: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('assets/img/icons/measure.png');
}

#fm-fields-view.fm-ui-mobile #fm-aggr-display,
#fm-fields-view.fm-ui-mobile #fm-calc-display {
    right: 26px;
}

#fm-fields-view #fm-drag-handle {
    right: 0;
    position: absolute;
    width: 30px;
    height: 21px;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('assets/img/icons/drag-handle.png');
}

#fm-fields-view #fm-calc-display {
    background-image: url('assets/img/icons/value-gray.png');
}

    #fm-calculated-view #fm-aggr-display:hover,
    #fm-fields-view #fm-aggr-display:hover,
    #fm-fields-view #fm-calc-display:hover {
        background-color: #999;
        background-image: url('assets/img/icons/measure-white.png');
    }

    #fm-fields-view #fm-calc-display:hover {
        background-image: url('assets/img/icons/value-white.png');
    }

#fm-pivot-view .fm-helper {
    background-color: #777;
    color: #fff;
    opacity: 0.9;
    padding: 0 4px 0 4px;
    line-height: 20px;
    white-space: nowrap;
    z-index: 14;
}

#fm-fields-view-overlay {
    z-index: 6;
}

#fm-aggregations-view {
    padding: 0;
    margin: 0;
    font-size: 11px;
    opacity: 0.98;
    position: absolute;
    width: 120px;
    z-index: 5;
    background: #F5F5F5;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

    #fm-aggregations-view ul li {
        position: relative;
        cursor: pointer;
        vertical-align: top;
        background-position: 4px center;
        background-repeat: no-repeat;
    }

    #fm-aggregations-view ul li > span {
        position: absolute;
        left: 18px;
        top: 3px;
    }

    #fm-aggregations-view ul li:hover {
        background-color: #e6e6e6;
    }

    #fm-aggregations-view ul li.fm-selected {
        background-image: url(assets/img/icons/check.png);
    }

/* Drill trough view */
#fm-drillthrough-view {
    z-index: 11;
    overflow: hidden;
}

    #fm-drillthrough-view #fm-sheet-container {
        margin: 8px;
        position: relative;
    }

    #fm-drillthrough-view #fm-grid-layout {
        position: relative;
        overflow: hidden;
        border-right: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
    }

    #fm-drillthrough-view #fm-title-label {
        display: block;
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
    }

    #fm-drillthrough-view > .fm-ui-panel > .fm-ui-vgroup {
        padding: 8px;
    }

    #fm-drillthrough-view .fm-title-label {
        font-size: 14px;
        padding-bottom: 4px;
    }

.fm-ui-btn.fm-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px;
    text-indent: -9999px;
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('assets/img/icons/btn-cross-gray.png');
    width: 10px;
    height: 10px;
    border: none;
}

.fm-ui-btn.fm-close-btn:hover {
    background: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('assets/img/icons/btn-cross-gray.png');
}

input[type=text].fm-ui-text-input.fm-editing-cell {
    position: absolute;
    font-size: 11px;
}

/* Drill trough view end */

/* Calculated view */
#fm-calculated-view {
    font-size: 11px;
    top: 0;
    left: 0;
}

#fm-calculated-view > .fm-ui-panel > .fm-ui-vgroup {
    padding: 4px;
    padding-bottom: 0;
}

#fm-calculated-view > .fm-ui-panel > .fm-ui-vgroup > * {
    margin-bottom: 6px;
}

#fm-calculated-view #fm-list-label {
    display: block;
}

#fm-calculated-view #fm-lst-measures {
    max-height: 200px;
    overflow-x: hidden;
}

#fm-calculated-view #fm-name-input {
    width: 258px;
}

#fm-calculated-view #fm-func-btn-group {
    width: 258px;
    margin-bottom: 0;
}

#fm-calculated-view #fm-func-btn-group .fm-ui-toggle-btn {
    width: 36px;
    margin-right: 6px;
    margin-bottom: 6px;
}

#fm-calculated-view #fm-func-btn-group .fm-ui-toggle-btn:nth-child(6n) {
    margin-right: 0;
}

#fm-calculated-view #fm-formula-input {
    width: 254px;
    height: 60px;
}

#fm-calculated-view #fm-formula-input.fm-drop-hover {
    background-color: #f5f5f5;    
}

#fm-calculated-view-overlay {
    z-index: 6;
} 

/* Calculated view end */
 
/* PRELOADER VIEW */
#fm-preloader-view {
    z-index: 10;
}

    #fm-preloader-view > .fm-ui-panel {
        background-image: url(assets/img/preloader.gif);
        background-repeat: no-repeat;
        background-position: 30px center;
        width: 300px;
        height: 80px;
    }

    #fm-preloader-view #fm-message-label {
        display: block;
        font-size: 12px;
        padding-left: 100px;
        padding-top: 24px;
    }

    #fm-preloader-view #fm-details-label {
        display: block;
        font-size: 10px;
        color: gray;
        padding-left: 100px;
        padding-top: 2px;
    }
/* PRELOADER END */

/* ALERT VIEW */
#fm-alert-view {
    z-index: 11;
}

    #fm-alert-view > .fm-ui-panel {
        width: 400px;
    }

        #fm-alert-view > .fm-ui-panel > .fm-ui-toolbar {
            min-height: 32px;
        }

    #fm-alert-view #fm-title-label {
        display: block;
        width: 400px;
        text-align: center;
        font-weight: bold;
        padding-top: 10px;
    }

    #fm-alert-view #fm-message-label {
        display: block;
        padding: 20px 10px 20px 100px;
        background-repeat: no-repeat;
        background-position: 21px center;
        word-wrap: break-word;
    }

    #fm-alert-view.fm-alert #fm-message-label {
        background-image: url(assets/img/alerts/alert.png);
    }

    #fm-alert-view.fm-info #fm-message-label {
        background-image: url(assets/img/alerts/info.png);
    }

    #fm-alert-view.fm-confirmation #fm-message-label {
        background-image: url(assets/img/alerts/confirmation.png);
    }

    #fm-alert-view.fm-error #fm-message-label {
        background-image: url(assets/img/alerts/error.png);
    }

    #fm-alert-view.fm-info #fm-message-label {
        background-image: url(assets/img/alerts/info.png);
    }

    #fm-alert-view.fm-question #fm-message-label {
        background-image: url(assets/img/alerts/question.png);
    }
/* ALERT VIEW END*/

.fm-ui .ui-resizable {
    position: relative;
}

.fm-ui .ui-resizable-handle {
    z-index: 6 !important;
    position: absolute;
    font-size: 0.1px;
    display: block;
}

.fm-ui .ui-resizable-disabled .ui-resizable-handle,
.fm-ui .ui-resizable-autohide .ui-resizable-handle {
    display: none;
}

.fm-ui .ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}

.fm-ui .ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}

.fm-ui .ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}

.fm-ui .ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}

.fm-ui .ui-resizable-se {
    background: url("assets/img/icons/resize-se.png") no-repeat bottom 2px right 2px;
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.fm-ui .ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}

.fm-ui .ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}

.fm-ui .ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}
