/*
 * 	Toolbar for Flexmonster Pivot Table & Charts Component
 *	Version 1.0
 */

/* TOOLBAR */
#fm-toolbar-wrapper {
	height: 80px;
}
#fm-toolbar {
	width: 100%;
	height: 78px;
	float: left;
	list-style: none;
	border-top: 1px solid #dcdcdc;
	/*border-bottom: 1px solid #cccccc;*/
	background: #FFFFFF;
}

#fm-toolbar, #fm-toolbar div, #fm-toolbar span, #fm-toolbar p, #fm-toolbar a,
#fm-toolbar table, #fm-toolbar th, #fm-toolbar tr, #fm-toolbar td,
#fm-toolbar ul, #fm-toolbar li,
#fm-toolbar input, #fm-toolbar textarea, #fm-toolbar select {
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	font-size: 11px;
	color: #333333;
	text-align: left;
	padding: 0;
	margin: 0;
}

/* TABS */
#fm-toolbar > li > a {
	background-size: 40px 40px;
}
.fm-dropdown-content > li > a {
	background-size: 30px 30px;
}
/* Connect tab */
#fm-tab-connect > a {
	background-image: url(img/toolbar/connect.png);
}
#fm-tab-connect-local-ocsv > a, 
#fm-tab-connect-local-csv > a,
#fm-tab-connect-remote-csv > a {
	background-image:url(img/menu/csv.png);
}
#fm-tab-connect-olap > a {
	background-image: url(img/menu/cube.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-connect > a {
		background-image: url(img/toolbar/connect@2x.png);
	}
	#fm-tab-connect-local-ocsv > a, 
	#fm-tab-connect-local-csv > a,
	#fm-tab-connect-remote-csv > a {
		background-image:url(img/menu/csv@2x.png);
	}
	#fm-tab-connect-olap > a {
		background-image: url(img/menu/cube@2x.png);
	}
}
@media only screen and (max-device-width: 768px) {
	#fm-tab-connect-remote-csv > a {
		background-image:url(img/menu/csv-m.png);
	}
	#fm-tab-connect-olap > a {
		background-image: url(img/toolbar/connect.png);
	}
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
		#fm-tab-connect-remote-csv > a {
			background-image:url(img/menu/csv-m.png);
		}
		#fm-tab-connect-olap > a {
			background-image: url(img/toolbar/connect@2x.png);
		}
	}
}
/* Open tab */
#fm-tab-open > a {
	background-image: url(img/toolbar/open.png);
}
#fm-tab-open-local-report > a,
#fm-tab-open-remote-report > a {
	background-image: url(img/menu/open.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-open > a {
		background-image: url(img/toolbar/open@2x.png);
	}
	#fm-tab-open-local-report > a,
	#fm-tab-open-remote-report > a {
		background-image: url(img/menu/open@2x.png);
	}
}
@media only screen and (max-device-width: 768px) {
	#fm-tab-open-remote-report > a {
		background-image: url(img/toolbar/open.png);
	}
	
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
		#fm-tab-open-remote-report > a {
			background-image: url(img/toolbar/open@2x.png);
		}
	}
}
/* Save tab */
#fm-tab-save > a {
	background-image: url(img/toolbar/save.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-save > a {
		background-image: url(img/toolbar/save@2x.png);
	}
}
/* Grid tab */
#fm-tab-grid > a {
	background-image: url(img/toolbar/grid.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-grid > a {
		background-image: url(img/toolbar/grid@2x.png);
	}
}
/* Charts tab */
#fm-tab-charts > a {
	background-image: url(img/toolbar/charts.png);
}
#fm-tab-charts-bar > a {
	background-image: url(img/chart/bar.png);
}
#fm-tab-charts-line > a {
	background-image: url(img/chart/line.png);
}
#fm-tab-charts-scatter > a {
	background-image: url(img/chart/scatter.png);
}
#fm-tab-charts-pie > a {
	background-image: url(img/chart/pie.png);
}
#fm-tab-charts-bar-stack > a {
	background-image: url(img/chart/bar_stack.png);
}
#fm-tab-charts-bar-line > a {
	background-image: url(img/chart/bar_line.png);
}
#fm-tab-charts-multiple > a {
	background-image: url(img/cbx-unselected.png);
}
#fm-tab-charts-multiple-selected > a {
	background-image: url(img/cbx-selected.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-charts > a {
		background-image: url(img/toolbar/charts@2x.png);
	}
	#fm-tab-charts-bar > a {
		background-image: url(img/chart/bar@2x.png);
	}
	#fm-tab-charts-line > a {
		background-image: url(img/chart/line@2x.png);
	}
	#fm-tab-charts-scatter > a {
		background-image: url(img/chart/scatter@2x.png);
	}
	#fm-tab-charts-pie > a {
		background-image: url(img/chart/pie@2x.png);
	}
	#fm-tab-charts-bar-stack > a {
		background-image: url(img/chart/bar_stack@2x.png);
	}
	#fm-tab-charts-bar-line > a {
		background-image: url(img/chart/bar_line@2x.png);
	}
	#fm-tab-charts-multiple > a {
		background-image: url(img/cbx-unselected@2x.png);
	}
	#fm-tab-charts-multiple-selected > a {
		background-image: url(img/cbx-selected@2x.png);
	}
}
@media only screen and (max-device-width: 768px) {
	#fm-tab-charts-bar > a {
		background-image: url(img/toolbar/charts.png);
	}
	#fm-tab-charts-line > a {
		background-image: url(img/chart/line-m.png);
	}
	#fm-tab-charts-scatter > a {
		background-image: url(img/chart/scatter-m.png);
	}
	#fm-tab-charts-pie > a {
		background-image: url(img/chart/pie-m.png);
	}
	#fm-tab-charts-bar-stack > a {
		background-image: url(img/chart/bar_stack-m.png);
	}
	#fm-tab-charts-bar-line > a {
		background-image: url(img/chart/bar_line-m.png);
	}
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
		#fm-tab-charts-bar > a {
			background-image: url(img/chart/bar-m@2x.png);
		}
		#fm-tab-charts-line > a {
			background-image: url(img/chart/line-m@2x.png);
		}
		#fm-tab-charts-scatter > a {
			background-image: url(img/chart/scatter-m@2x.png);
		}
		#fm-tab-charts-pie > a {
			background-image: url(img/chart/pie-m@2x.png);
		}
		#fm-tab-charts-bar-stack > a {
			background-image: url(img/chart/bar_stack-m@2x.png);
		}
		#fm-tab-charts-bar-line > a {
			background-image: url(img/chart/bar_line-m@2x.png);
		}
	}
}
/* Format tab */
#fm-tab-format > a {
	background-image: url(img/toolbar/format.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-format > a {
		background-image: url(img/toolbar/format@2x.png);
	}
}
#fm-tab-format .fm-dropdown-content span,
#fm-tab-format .fm-dropdown-content span {
	left: 0 !important; 
	padding-left: 8px;
}
@media only screen and (max-device-width: 768px) {
	#fm-tab-format-cells > a,
	#fm-tab-format-conditional > a {
		background-image: url(img/toolbar/format.png);
	}
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
		#fm-tab-format-cells > a,
		#fm-tab-format-conditional > a {
			background-image: url(img/toolbar/format@2x.png);
		}
	}
}
/* Options tab */
#fm-tab-options > a {
	background-image: url(img/toolbar/options.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-options > a {
		background-image: url(img/toolbar/options@2x.png);
	}
}
/* Styles tab */
#fm-tab-styles > a {
	background-image: url(img/toolbar/styles.png);
}
#fm-tab-styles-cocoa > a {
	background-image: url(img/style/cocoa.png);
}
#fm-tab-styles-blueberry > a {
	background-image: url(img/style/blueberry.png);
}
#fm-tab-styles-emerald > a {
	background-image: url(img/style/emerald.png);
}
#fm-tab-styles-navy > a {
	background-image: url(img/style/navy.png);
}
#fm-tab-styles-raspberry > a {
	background-image: url(img/style/raspberry.png);
}
#fm-tab-styles-asphalt > a {
	background-image: url(img/style/asphalt.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-styles > a {
		background-image: url(img/toolbar/styles@2x.png);
	}
	#fm-tab-styles-cocoa > a {
		background-image: url(img/style/cocoa@2x.png);
	}
	#fm-tab-styles-blueberry > a {
		background-image: url(img/style/blueberry@2x.png);
	}
	#fm-tab-styles-emerald > a {
		background-image: url(img/style/emerald@2x.png);
	}
	#fm-tab-styles-navy > a {
		background-image: url(img/style/navy@2x.png);
	}
	#fm-tab-styles-raspberry > a {
		background-image: url(img/style/raspberry@2x.png);
	}
	#fm-tab-styles-asphalt > a {
		background-image: url(img/style/asphalt@2x.png);
	}
}
/* Fields tab */
#fm-tab-fields {
	float: right !important;
}
#fm-tab-fields > a {
	background-image: url(img/toolbar/fields.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-fields > a {
		background-image: url(img/toolbar/fields@2x.png);
	}
}
/* Export tab */
#fm-tab-export {
	float: right !important;
}
#fm-tab-export > a {
	background-image: url(img/toolbar/export.png);
}
#fm-tab-export .fm-dropdown {
	width: 119px;
}
#fm-tab-export .fm-dropdown-content li {
	width: 117px !important;
}
#fm-tab-export-print > a {
	background-image: url(img/export/print.png);
}
#fm-tab-export-html > a {
	background-image: url(img/export/html.png);
}
#fm-tab-export-csv > a {
	background-image: url(img/menu/csv.png);
}
#fm-tab-export-excel > a {
	background-image: url(img/export/xls.png);
}
#fm-tab-export-image > a {
	background-image: url(img/export/img.png);
}
#fm-tab-export-pdf > a {
	background-image: url(img/export/pdf.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-export > a {
		background-image: url(img/toolbar/export@2x.png);
	}
	#fm-tab-export-print > a {
		background-image: url(img/export/print@2x.png);
	}
	#fm-tab-export-html > a {
		background-image: url(img/export/html@2x.png);
	}
	#fm-tab-export-csv > a {
		background-image: url(img/menu/csv@2x.png);
	}
	#fm-tab-export-excel > a {
		background-image: url(img/export/xls@2x.png);
	}
	#fm-tab-export-image > a {
		background-image: url(img/export/img@2x.png);
	}
	#fm-tab-export-pdf > a {
		background-image: url(img/export/pdf@2x.png);
	}
}
/* Zoom tab */
#fm-tab-zoom {
	float: right !important;
}
#fm-tab-zoom > a {
	background-image: url(img/toolbar/zoom.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-zoom > a {
		background-image: url(img/toolbar/zoom@2x.png);
	}
}
#fm-tab-zoom .fm-dropdown {
	width: 48px;
}
#fm-tab-zoom .fm-dropdown-content li {
	width: 46px !important;
}
#fm-tab-zoom .fm-dropdown-content span {
	left: 0 !important; 
	padding-left: 8px;
}
/* Fullscreen tab */
#fm-tab-fullscreen {
	float: right !important;
	width: 68px !important;
}
#fm-tab-fullscreen > a {
	background-image: url(img/toolbar/fullscreen.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	#fm-tab-fullscreen > a {
		background-image: url(img/toolbar/fullscreen@2x.png);
	}
}

/* Tabs */
#fm-toolbar li {
	background: none;
	float: left;
	padding: 0;
	position: relative;
	width: 57px;
}
#fm-toolbar a {
	height: 76px;
	margin: 1px 1px 1px 0px;
	display: block;
	text-decoration: none;
	background-position: center 10px;
	background-repeat: no-repeat;
}
#fm-toolbar a > span {
	text-align: center;
}
#fm-toolbar li:first-child a {
	margin-left: 1px;
}
#fm-toolbar li:hover > a, #toolbar a.Active{
	background-color: #e5e5e5;
}
#fm-toolbar > li > a > span {
	position: absolute;
	top: 52px;
	line-height: 10px;
	left: 0;
	right: 0;
}
#fm-toolbar li.fm-divider {
	width: 0px;
	margin: 11px 1px 0px 0px;
	height: 55px;
	border-right: 1px dotted #dcdcdc;
}
#fm-toolbar li.fm-v-divider {
	height: 0px;
	width: 140px;
	border-bottom: 1px dotted #dcdcdc;
}
/* Tab menu */
#fm-toolbar div.fm-shadow-container,
div.fm-shadow-container {
	padding: 3px;
	background: #e6e6e6;
	filter: alpha(opacity=80);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	background-color: rgba(230, 230, 230, 0.8);
}
#fm-toolbar .fm-dropdown {
	position: absolute;
	display: none;
	top: 78px;
	margin: 0px 1px 1px 0px;
	border-top: 1px solid #cccccc;
	z-index: 12;
}
#fm-toolbar li:first-child div {
	margin-left: 1px;
}
#fm-toolbar .fm-dropdown-content:after {
	content: '';
	border-width: 5px;
	border-color: transparent transparent #ffffff;
	border-style: outset outset solid;
	border-style: solid;
	top: -10px;
	left: 20px;
	width: 0;
	height: 0;
	position: absolute;
}
#fm-toolbar .fm-dropdown-content:before {
	content: '';
	border-color: transparent transparent #cccccc;
	border-style: outset outset solid;
	border-width: 6px;
	position: absolute;
	top: -12px;
	left: 19px;
}
#fm-toolbar .fm-align-rigth .fm-dropdown-content:after {
	left: inherit;
	right: 20px;
}
#fm-toolbar .fm-align-rigth .fm-dropdown-content:before {
	left: inherit;
	right: 19px;
}
#fm-toolbar .fm-dropdown-content {
	position: relative;
	padding: 0;
	list-style: none;
	background: #FFFFFF;
	border: 1px solid #cccccc;
}
#fm-toolbar .fm-dropdown-content li {
	float: none;
	width: 140px;
}
#fm-toolbar .fm-dropdown-content a {
	text-shadow: none;
	text-align: left;
	padding: 0;
	margin: 0px 1px 1px 1px;
	height: 30px;
	background-position: left center;
	background-repeat: no-repeat;
}
#fm-toolbar .fm-dropdown-content li:first-child a {
	margin-top: 1px;
}
#fm-toolbar .fm-dropdown-content a.disabled {
	pointer-events: none;
	cursor: default;
	color: #AAA;
}
#fm-toolbar .fm-dropdown-content a:hover {
	background-color: #e5e5e5;
}
#fm-toolbar .fm-dropdown-content span {
	display: inline;
	position: absolute;
	left: 35px;
	right: auto;
	bottom: 8px;
}

/* POPUP WINDOW */
div.fm-popup {
	font-size: 12px;
	position: absolute;
	min-width: 300px;
	z-index: 13;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	color: #333333;
}
div.fm-panel div {
	box-sizing: content-box;
}
div.fm-panel .fm-panel-content {
	position: relative;
	background: #ffffff;
	border: 1px solid #c8c8c8;
}
div.fm-panel .fm-toolbox {
	background: #ffffff;
	border-top: 1px dotted #dcdcdc;
	border-left: none;
	border-right: none;
	border-bottom: none;
	margin-bottom: 0px;
}
div.fm-panel .fm-panel-content .fm-title-bar {
	clear: both;
	height: 13px;
	padding: 9px 10px 10px 10px;
}
div.fm-panel .fm-panel-content .fm-title-bar .fm-title-text {
	line-height: 13px;
	text-align: left;
	float: left;
	font-size: 13px;
}
div.fm-panel .fm-panel-content .fm-title-bar a.fm-close-button {
	display: block;
	cursor: pointer;
	background: transparent url(img/cross.png) center center no-repeat;
	width: 10px;
	height: 10px;
	float: right;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	div.fm-panel .fm-panel-content .fm-title-bar a.fm-close-button {
		background: transparent url(img/cross@2x.png) center center no-repeat;
		background-size: 10px 10px;
	}
}
/* Forms */
table.fm-form {
	margin: 10px;
	border-spacing: 0;
	border-collapse: collapse;
}
table.fm-form td {
	vertical-align: middle;
	padding: 0px 0px 10px 0px;
}
table.fm-form th {
	text-align: left;
	padding: 0px 0px 7px 0px;
	font-weight: normal;
	font-size: 12px;
}
/* Connect to OLAP */
#fm-popup-connect-olap {
	width: 270px;
}
#fm-popup-connect-olap th, #fm-popup-connect-olap span {
	font-weight: normal;
	padding: 0px 0px 2px 0px;
	font-size: 11px;
}
#fm-popup-connect-olap .fm-half-button {
	width: 60px;
}
#fm-popup-connect-olap .fm-half-input {
	width: 203px;
	margin-bottom: 2px;
}
/* Format cells */
#fm-popup-format-cells {
	min-width: 0;
}
#fm-popup-format-cells {
	margin: 10px 5px 5px 10px;
}
#fm-popup-format-cells td {
	text-align: right;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 7px;
}
#fm-popup-format-cells td input {
	width: 141px;
}
/* Conditional formatting */
#fm-popup-conditional {
	margin-bottom: 15px;
}
#fm-popup-conditional th {
	padding: 10px 0px 4px 4px;
	font-weight: normal;
	font-size: 11px;
}
#fm-popup-conditional span {
	font-weight: normal;
	font-size: 11px;
}
#fm-popup-conditional td {
	padding-bottom: 7px;
	min-width: 160px;
}
#fm-popup-conditional .fm-colorPicker {
	float: right;
	margin: 0px 0px 0px 3px;
}
#fm-popup-conditional td .fm-colorPicker td {
	border: 1px solid #000000;
	margin: 0px;
	padding: 0px;
	height: 9px;
	min-width: 9px;
}
#fm-popup-conditional .fm-link-button {
	margin: 5px 0px 5px 10px;
}
#fm-popup-conditional #fm-conditions-list {
	margin: 0;
	padding: 0;
	max-height: 200px;
	min-width: 510px;
	overflow-y: auto;
	overflow-x: hidden;
}
#fm-popup-conditional #fm-conditions-list li {
	min-width: 510px;
	clear: both;
	list-style: none !important;
	background: none;
	padding: 8px 0px 10px 5px;
	border-top: 1px solid #cccccc;
}
#fm-popup-conditional #fm-conditions-list li:first-child {
	border-top: none;
}
#fm-popup-conditional #fm-conditions-list li .fm-left-container {
	float: left;
}
#fm-popup-conditional #fm-conditions-list li .fm-right-container {
	float: right;
}
#fm-popup-conditional #fm-conditions-list li .fm-left-container div *,
#fm-popup-conditional #fm-conditions-list li .fm-right-container div * {
	float: none;
}
#fm-popup-conditional #fm-conditions-list li .fm-left-container div span {
	margin: 0;
}
#fm-popup-conditional #fm-conditions-list li .fm-left-container div * {
	margin: 0px 5px 8px 5px;
}
#fm-popup-conditional #fm-conditions-list li .fm-right-container div * {
	margin: 0px 5px 0px 5px;
}
#fm-popup-conditional #fm-conditions-list li select {
	width: 151px;
}
#fm-popup-conditional #fm-conditions-list li input[type=text] {
	width: 45px;
}
#fm-popup-conditional #fm-conditions-list li input.fm-wide[type=text] {
	width: 126px;
}
#fm-popup-conditional #fm-conditions-list li span#fm-and-label {
	width: 30px;
	text-align: center;
	white-space: nowrap;
}
#fm-popup-conditional .fm-sample {
	display: inline;
	float: right !important;
	font-family: Arial;
	font-size: 12px;
	border: 1px solid #D2D2D2;
	height: 19px;
	padding: 0;
	text-indent: 4px;
	vertical-align: middle;
	line-height: 18px;
	width: 68px;
	-moz-box-shadow: 0 0 1px #CCCCCC inset;
	webkit-box-shadow: 0 0 1px #CCCCCC inset;
	box-shadow: 0 0 1px #CCCCCC inset;
}
#fm-popup-conditional .fm-remove-condition {
	cursor: pointer;
	display: block;
	margin: 19px 30px 0px 3px;
	width: 11px;
	height: 11px;
	text-indent: -99999px;
	background: transparent url(img/colorIcons/round-cross-asphalt.png) center center no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#fm-popup-conditional .fm-remove-condition {
		background: transparent url(img/colorIcons/round-cross-asphalt@2x.png) center center no-repeat;
		background-size: 11px 11px;
	}
}
/* Layout popup */
#fm-popup-options .fm-form td {
	padding-bottom: 7px;
}

/* GENERAL */
/* Button */
a.fm-button {
	display: block;
	float: right;
	text-decoration: none;
	color: #333333;
	outline: none;
	background: #ffffff;
	border-left: 1px dotted #cccccc;
	font-size: 11px;
	text-align: center;
	width: 80px;
	height: 31px;
	line-height: 30px;
	padding: 0px;
	padding-top: 1px;
	font-size: 12px;
}
a.fm-button:hover {
	background: #F5F5F5;
}
a.fm-button:active {
	background: #D6D6D6;
}
a.fm-button.fm-disabled {
	pointer-events: none;
	cursor: default;
	color: #aaa;
}
a.fm-button:hover.fm-disabled {
	background: #ffffff;
}
a.fm-button:active.fm-disabled {
	background: #ffffff;
}
/* Half button */
a.fm-half-button {
	font-size: 12px;
	display: block;
	float: right;
	padding: 0;
	margin: 0;
	height: 19px;
	line-height: 19px;
	background: #ffffff;
	background: -moz-linear-gradient(top,  #ffffff 0%, #f3f3f3 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f3f3f3));
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -o-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: -ms-linear-gradient(top,  #ffffff 0%,#f3f3f3 100%);
	background: linear-gradient(to bottom,  #ffffff 0%,#f3f3f3 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f3f3',GradientType=0 );
	border: 1px solid #999;
	color: #555555;
	text-align: center;
	text-decoration: none;
}
/* Link button */
a.fm-link-button {
	display: block;
	color: #333333;
	font-size: 11px;
}
div.fm-popup input[type=radio] {
	margin: 1px 4px 0px 4px;
	padding: 0;
}
div.fm-popup input {
	font-size: 11px;
	outline: none;
}
div.fm-popup input[type=text],
div.fm-popup input[type=password] {
	border: 1px solid #999;
	-moz-box-shadow: inset 0px 1px 0 #e6e6e6;
	-webkit-box-shadow: inset 0px 1px 0 #e6e6e6;
	box-shadow:	inset 0px 1px 0 #e6e6e6;
	height: 19px;
	padding: 0px 0px 0px 4px;
	margin: 0;
	width: 150px;
	color: #202020;
	line-height: 19px;
	line-height: 20px\9; /* ie7-8 hack */
	text-align: left;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
}
div.fm-popup input:disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	background-color: #fff;
}
div.fm-popup input.fm-half-input {
	padding-right: 0;
	border-right: none;
}
div.fm-popup select {
	border: 1px solid #999;
	-webkit-appearance: none;
  	-webkit-user-select: none;
	-moz-appearance: none;
	-moz-user-select: none;
	padding: 0;
	margin: 0;
	outline: none;
	background: #ffffff;
	background-image: url(img/colorIcons/arrow-asphalt.png);
	background: url(img/colorIcons/arrow-asphalt.png), -moz-linear-gradient(top, #fefefe, #f3f3f3);
	background: url(img/colorIcons/arrow-asphalt.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));
	background: url(img/colorIcons/arrow-asphalt.png), -webkit-linear-gradient(top, #fefefe, #f3f3f3);
	background: url(img/colorIcons/arrow-asphalt.png), -o-linear-gradient(top, #fefefe, #f3f3f3);
	background: url(img/colorIcons/arrow-asphalt.png), -ms-linear-gradient(top, #fefefe, #f3f3f3);
	background: url(img/colorIcons/arrow-asphalt.png), linear-gradient(top, #fefefe, #f3f3f3);
	background-position: right center; 
	background-repeat: no-repeat;
	height: 21px;
	line-height: 18px;
	font-size: 11px;
	font-family: Lucida Sans Unicode, Lucida Grande, sans-serif;
	width: 100%;
	color: #202020;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	div.fm-popup select {
		background-image: url(img/colorIcons/arrow-asphalt.png) 0px 0px/13px 8px;
		background: url(img/colorIcons/arrow-asphalt@2x.png) 0px 0px/13px 8px, -moz-linear-gradient(top, #fefefe, #f3f3f3);
		background: url(img/colorIcons/arrow-asphalt@2x.png) 0px 0px/13px 8px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#f3f3f3));
		background: url(img/colorIcons/arrow-asphalt@2x.png) 0px 0px/13px 8px, -webkit-linear-gradient(top, #fefefe, #f3f3f3);
		background: url(img/colorIcons/arrow-asphalt@2x.png) 0px 0px/13px 8px, -o-linear-gradient(top, #fefefe, #f3f3f3);
		background: url(img/colorIcons/arrow-asphalt@2x.png) 0px 0px/13px 8px, -ms-linear-gradient(top, #fefefe, #f3f3f3);
		background: url(img/colorIcons/arrow-asphalt@2x.png) 0px 0px/13px 8px, linear-gradient(top, #fefefe, #f3f3f3);
		background-position: right center; 
		background-repeat: no-repeat;
	}
}
div.fm-popup select:disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
div.fm-popup select * {
	margin: 0 !important;
}
div.fm-popup select option.placeholder {
	color: white;
    font-size: 0px;
    display: none;
}
div.fm-clear {
	clear: both;
}

/* Hack for Firefox */
@-moz-document url-prefix() {
	select {
		text-indent:0;
	}
}

/* COLOR PICKER */
div.fm-colorPicker {
	display: inline-block;
	vertical-align: middle;
	border: 0 !important;
	padding: 0px !important;
	cursor: pointer;
	background: #000000 url(img/colorPicker/txtCpIconAsphalt.png);
	background-repeat: no-repeat;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-indent: -99999px;
	height: 21px !important;
	width: 21px !important;
	line-height: 22px !important;
}
div.fm-bgColorPicker {
  background: #ffffff url(img/colorPicker/bgCpIconAsphalt.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	div.fm-colorPicker {
		background: #000000 url(img/colorPicker/txtCpIconAsphalt@2x.png);
		background-repeat: no-repeat;
		background-size: 21px 21px;
	}
	div.fm-bgColorPicker {
		background: #ffffff url(img/colorPicker/bgCpIconAsphalt@2x.png);
		background-size: 21px 21px;
	}
}
.fm-colorPreview {
	cursor: default;
	float: left;
	position: static;
	border: 1px inset #ffffff;
	margin: 4px 4px 4px 4px;
	width: 50px;
	height: 19px;
}
.fm-swatchPanel {
	clear: both;
	cursor: default;
	text-indent: 0px;
	display: none;
	position: absolute;
	background-color: #FFFFFF;
	border: 1px solid #9a9a9a;
	z-index: 9999;
}
.fm-swatchPanel input {
	position: static;
	max-width: 70px;
	margin: 4px 4px 4px 0px !important;
}
.fm-swatchPanel table {
	clear: both;
	cursor: pointer;
	border: none;
	border-spacing: 0px;
	border-collapse: collapse;
	margin: 4px;
}
.fm-swatchPanel td { 
	border: 1px solid #000000;
	margin: 0px;
	padding: 0px;
	height: 9px;
	width: 9px;
}
.fm-swatchPanel table div {
	display: block;
	position: static;
	border: none;
	height: 9px;
	width: 9px;
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
.fm-swatchPanel table div:hover {
	border: 1px solid #FFFFFF;
	height: 7px;
	width: 7px;
}
#fm-credentials-checkbox {
	cursor: pointer;
	display: inline-block;
	margin-left: 0px;
	margin-right: 4px;
	width: 15px;
	height: 19px;
	background: url("img/cbx-unselected.png") no-repeat center center;
	background-size: 30px 30px;
}
#fm-credentials-checkbox.fm-selected {
	background: url("img/cbx-selected.png") no-repeat center center;
	background-size: 30px 30px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	#fm-credentials-checkbox {
		background: url("img/cbx-unselected@2x.png") no-repeat center center;
		background-size: 30px 30px;
	}
	#fm-credentials-checkbox.fm-selected {
		background: url("img/cbx-selected@2x.png") no-repeat center center;
		background-size: 30px 30px;
	}
}
#fm-credentials-label {
    vertical-align: top;
}
#fm-credentials span {
    display: inline-block;
    width: 65px;
}

#fm-credentials input {
    width: 110px;
    height: 17px;
}

#fm-credentials {
    padding: 5px;
}